body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#display{
    font-size: 4rem;
    color:rgb(22, 20, 20);
}
.buttons{
    margin: 5px;
    padding: 5px;
}
button{
    width: 70px;
    height: 40px;
}